{% extends "base.html" %}

{% block title %}NutriFit | System Error{% endblock %}

{% block content %}
<section class="container pt-150 text-center h-70vh d-flex flex-col justify-center align-center">
    <h3 class="section-tag">Error 500</h3>
    <h1 class="ff-serif fs-huge text-error mb-0">500</h1>
    <h2 class="ff-sans mb-2">Our servers are taking a breather.</h2>
    <p class="text-muted max-w-500 mb-3">Something went wrong on our end. We're already working to fix it. Please try
        again later.</p>
    <a href="{{ url_for('main.index') }}" class="btn btn-primary">Back to Dashboard</a>
</section>
{% endblock %}