<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NutriFit | Admin Control{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header class="navbar">
        <nav class="container">
            <div class="logo">
                <a href="{{ url_for('admin.dashboard') }}">Nutri<span>Fit</span> Admin</a>
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('admin.dashboard') }}" class="nav-link">Dashboard</a></li>
                <li><a href="{{ url_for('auth.logout') }}" class="btn btn-outline btn-logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container pt-100">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container text-center pt-2">
            <p class="fs-xs text-muted">&copy; 2026 NutriFit Admin Panel.</p>
        </div>
    </footer>

    {% block scripts %}{% endblock %}
</body>

</html>